<form action="<%= cats_url %>" method="post">
    <label>Username
        <input type="text" name="user[username]" id="" value="">
    </label>

    <br>

     <label>Password
        <input type="text" name="user[password]" id="" value="">
    </label>

    <br>

    <input type="submit" value="Create Profile">

</form>